################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/anti-task-api/.vs
/.vs
/src/anti-task-api/Pages
/src/anti-task-api/wwwroot
